#root {
  margin: 0 auto;
  text-align: center;
}

.cabecalho {
  background-color: var(--cor-terciaria);
  
  padding: 20px 20px 20px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__menu__link {
  font-family: 'SegoeUI';
  color: black;
  font-weight: normal;
  /* padding: 0% 2% 0% 0%; */
  text-decoration: none;
}

.cabecalho__logo {
  display: flex;
  flex: 0.1; 
  max-height: 30px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

#selectedNav a.active{

  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: var(--cor-primaria);
}
