:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 26px;

  background-color: RGB(245,245,245);
  
  --cor-primaria: #FAB416;
  --cor-secundaria: #919191  ;
  --cor-terciaria: RGB(255,255,255);
  --fonte-principal-style: 'bold';
  --fonte-terciaria: 'Segoe UI';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  
}






